
$color-1 : #fff
$color-2: #e1e1e1

body
	background: #e1e1e1 /* Old browsers */
	background: -moz-linear-gradient(left,  #e1e1e1 0%, #ffffff 25%, #ffffff 50%, #ffffff 75%, #e1e1e1 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e1e1e1), color-stop(25%,#ffffff), color-stop(50%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#e1e1e1)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e1e1e1 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,#e1e1e1 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e1e1e1 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,#e1e1e1 100%) /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e1e1e1 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,#e1e1e1 100%) /* IE10+ */
	background: linear-gradient(to right,  #e1e1e1 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,#e1e1e1 100%) /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#e1e1e1',GradientType=1 ) /* IE6-9 */
	
	font-family: 'League Gothic normal'

	position: relative
	

#splash
	width: 400px
	height: 350px
	text-transform: uppercase
	position: absolute
h1
	font-size: 70px
	text-align: center
	margin: -22px 0
	padding: 0
	color: #101010

	span
		color: #474747

p
	text-align: center
	font-size: 29px
	padding: 0
	margin: 0
	color: #ccc

