body {
  background: #b4b8c1;
}

#allset {
  background: white;
  background: -moz-radial-gradient(center, ellipse cover, white 0%, #b4b8c1 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #b4b8c1));
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, #b4b8c1 100%);
  background: -o-radial-gradient(center, ellipse cover, white 0%, #b4b8c1 100%);
  background: -ms-radial-gradient(center, ellipse cover, white 0%, #b4b8c1 100%);
  background: radial-gradient(ellipse at center, white 0%, #b4b8c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$foreground-color', endColorstr='$background-color',GradientType=1 );
  height: 1000px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

a, dl a {
  cursor: pointer;
}

#splash {
  width: 400px;
  height: auto;
  text-transform: uppercase;
  position: absolute;
  /*font-family: 'League Gothic normal' */
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 1px white;
}
#splash h1 {
  font-size: 55px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #333333;
  font-weight: 800;
  letter-spacing: -4px;
}
#splash h1 span {
  color: #0066cc;
}
#splash p {
  text-align: center;
  font-size: 40px;
  padding: 0;
  margin: 0;
  color: #cccccc;
  font-weight: 300;
  letter-spacing: -3px;
}
#splash p span {
  font-size: 20px;
  letter-spacing: 3px;
  display: block;
}

/* reset */
